---
pagination:
    data: collections.recipeTags
    size: 1
    alias: category
permalink: "categories/{{ category | slug }}/"
tags: ['{{ category }}', 'categorie']
layout: recipes.liquid

renderData:
    title: "{{ category }}"
    webTitle: "Festa di Famiglia"
    webTitleSlug: "Festa-di-Famiglia"
---
<div class="columns is-multiline is-mobile">
    {%- for recipe in recipesContentful -%}
    {% if recipe.categories contains category %}
     <div class="column is-one-third-tablet is-half-mobile"> <!-- is-half-mobile is-one-quarter-widescreen-->
        <a href="/recipe/{{ recipe.title | slug }}" >
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img     src="https:{{recipe.thumbnail.fields.file.url}}?w=1280&h=960&fm=jpg&fl=progressive&q=80&fit=fill&f=center"
                        alt="{{ recipe.title }}" loading="lazy">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4 has-text-dark">{{ recipe.title }}</p>
                        <p class="subtitle is-6 has-text-dark"><b>difficulty:</b>
                            {% assign handle = recipe.level %}
                            {% case handle %}
                            {% when 1 %}
                            <i class="fas fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i>
                            {% when 2 %}
                            <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="far fa-star"></i>
                            {% when 3 %}
                            <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                            {% endcase %}
                        </p>
                    </div>
                </div>
                <div class="content">
                    {{ recipe.shortDescription }}
                </div>
            </div>
        </div>
        </a>
    </div>
    {% endif %}
    {%- endfor -%}
</div>
