<!doctype html>
<html lang='en'>

<head>
    {%- assign $title = renderData.title %}
    {%- assign $webTitle = renderData.webtitle %}
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/{{renderData.webTitleSlug}}/css/base.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/{{renderData.webTitleSlug}}">
                    <p class="title is-4 has-text-dark">{{renderData.webTitle}}</p>
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" href="https://github.com/GeoDerp/{{renderData.webTitleSlug}}/"><i
                            class="fab fa-github"></i></a>
                    <a href="/{{renderData.webTitleSlug}}" class='navbar-item'><i class="fas fa-utensils"></i></a>
                </div>
            </div>
        </nav>
    </header>
    <main>


        <section class="hero is-info is-fullheight-with-navbar">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title has-text-centered">
                        {{renderData.title}}
                    </h1>
                    {{content}}
                </div>
            </div>
        </section>


    </main>
</body>
<footer class="footer">
    <div class=" has-text-centered">
        <p>This Website is forked from Contentful <a href="https://github.com/contentful/11ty-contentful-gallery/"><i
                    class="fab fa-github is-large"></i></a></p>
        <p><a href="https://john.whately.me">My Website</a></p>
        <p>©2021 John Whately</p>
    </div>
</footer>

</html>