<!doctype html>
<html lang='en'>

<head>
    {%- assign $title = renderData.title %}
    {%- assign $webTitle = renderData.webtitle %}
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/{{renderData.webTitleSlug}}/css/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
        .bg-img {
            background-image: url({{renderData.thumbnail}});
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: cover;
            background-color: #527457 !important;
            background-blend-mode: multiply;

        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/{{renderData.webTitleSlug}}">
                    <p class="title is-4 has-text-dark">{{renderData.webTitle}}</p>
                    <!-- <img src="https:{{contentful-brand.logo.fields.file.url}}?w=200" alt="{{contentful-brand.name}}"> -->
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" href="https://github.com/GeoDerp/{{renderData.webTitleSlug}}/"><i
                            class="fab fa-github"></i></a>
                    <a href="/{{renderData.webTitleSlug}}" class='navbar-item'><i class="fas fa-utensils"></i></a>
                </div>
            </div>
        </nav>
    </header>
    <main>

        <section class="hero is-success is-halfheight bg-img">
            <div class="hero-body">
                <div class="">
                    <p class="title">
                        {{renderData.title}}
                    </p>
                    <p class="subtitle">
                        {{renderData.subTitle}}
                    </p>
                </div>
            </div>
        </section>

        <div class="container">
            {{content}}
        </div>

    </main>
</body>
<footer class="footer">
    <div class=" has-text-centered">
        <p>This Website is forked from Contentful <a href="https://github.com/contentful/11ty-contentful-gallery/"><i
                    class="fab fa-github is-large"></i></a></p>
        <p><a href="https://john.whately.me">My Website</a></p>
        <p>©2021 John Whately</p>
    </div>
</footer>

</html>